<table class="table table-bordered table-striped">
  <tr>
    <th>Title &nbsp; &nbsp; &nbsp;</th>
    <th>Commentary</th>
    <th>Actions</th>
  </tr>

  <% @matches.each do |match| %>
  `<tr>
    <td><%= match.title%></td>
    <td><%= match.text%></td>
    <td><%= link_to "Delete", match, method: :delete, :class => "btn btn-danger" %></td>
  `</tr>
  <% end %>
</table>