<p>
  <strong>Title:</strong>
  <%= @match.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @match.text %>
</p>

<%= button_to "View all matches", matches_path, :method => "get", :class => "btn btn-primary"%>